body {
  font-family: 'No Continue Regular', sans-serif;
  background-color: #8b0000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@font-face {
  font-family: 'No Continue Regular';
  font-style: normal;
  font-weight: normal;
  src: local('No Continue Regular'), url('gomarice_no_continue.woff') format('woff');
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Ekrana sığacak maksimum genişlik */
  width: 100%;
  margin: 20px;
}

img {
  width: 100%;
  height: auto; /* Oranları korumak için otomatik yükseklik */
  border: 2px solid #000000;
  border-radius: 4px;
  display: block;
  margin: auto;
}


h1, h2 {
  font-size: 2em;
  color: #000000;
  text-align: center;
}

p1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  padding: 10px 20px;
  border-radius: 4px;
}

p {
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
}

 label, input, button, div {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1em;
  margin-bottom: 8px;
  color: #000000;
}

input {
  font-size: 0.9em;
  padding: 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 2px solid #000000;
  border-radius: 4px;
  color: #000000;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #000000;
  color: #ecf0f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

button:hover {
  background-color: #f1b90b;
}

button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

button[type="button"] {
  margin-top: 10px;
}

div {
  font-size: 1em;
  margin-top: 1px;
  color: #000000;
}

div.success {
  color: #2ecc71;
}


.react-audio-player {
  display: none;
}